page-login {

    .right {
        position: relative;
        right: -86px;
    }
    .width {
        margin: 0;
        width: 100%;
        padding: 0px;
        
    }
    .padd {
        padding-top: 17px; 
        padding-bottom: 0px;
        padding-left: 0px;
    }

    .paddd {
        padding-top: 0px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        
        
    }

    

}