page-login {
    .width {
        margin: 0;
        width: 100%;
        padding: 0px;
    }
    .padd {
        padding-top: 17px; 
        padding-bottom: 0px;
        padding-left: 0px;
    }

    .tamano {
        height: 50px;
	    width: 50px;
    }
}