page-profile {
    .p1{
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: 200px;
        width: 200px;
    }
    .tp{
        text-align: center;
    }
    .desc{
        text-align: center;
        color: #558B37;
    }
    .fabp{
        text-align: center;
    }
}
