page-messages {

    
    .padd {
        padding-top: 17px; 
        padding-bottom: -10px;
        padding-left: 0px;
        text-transform: capitalize;
        font-size: 15px;
    }

    .right {
        position: relative;
        right: -3px;
        bottom: 4px;
    }
    .right2 {
        position: relative;
        right: 43px;
        bottom: 4px;
    }
    .right3 {
        position: relative;
        right: 63px;
        bottom: 4px;
    }
    .right4 {
        position: relative;
        right: -12px;
        bottom: 4px;
    }

    em {
        font-style: italic;
    }

    .fondo {
        background-color: #C1DBAF;
    }
    
    .fondo2 {
        background-color: #E2EEDA;
    }

    .texto{
        font-size: 17px;
        color: #616266;
    }
}
